<% if(success && success[0]){%>
<div
	class="alert alert-success alert-dismissible fade show mt-4 mb-4 col-md-6 offset-md-3 col-xl-4 offset-xl-4"
	role="alert"
>
	<%= success %>
	<button
		type="button"
		class="btn-close"
		data-bs-dismiss="alert"
		aria-label="Close"
	></button>
</div>
<%} %>

<!-- for error -->
<% if(error && error[0]){%>
<div
	class="alert alert-danger alert-dismissible fade show mt-4 mb-4 col-md-6 offset-md-3 col-xl-4 offset-xl-4"
	role="alert"
>
	<%= error %>
	<button
		type="button"
		class="btn-close"
		data-bs-dismiss="alert"
		aria-label="Close"
	></button>
</div>
<%} %>
