<% layout('layouts/boilerplate') %>

<div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
	<div class="alert alert-danger" role="alert">
		<h4 class="alert-heading"><%= err.statusCode %> <%= err.message %></h4>

		<% if(process.env.NODE_ENV !== "production"){ %>
		<p><%= err.stack %></p>
		<% } %>
		<hr />
	</div>
</div>
